<html>
    <head>
        <title>Petrolej's blog</title>
    </head>
    <body
    <h1>Hlavný nadpis - Caute vsetci</h1>
    <h2>Podnadpis - funguje to?</h2>
    <h3>Do tretice vsetko dobre</h3>
        <p><em>Zdravicko</em> vsetci, skusam!</p>
        <p>Hi there <strong>kuriatko</strong>!</p>
        <p>It works!</p>
        <br>
        <p>medzera by tu mala byt medzi riadkami<p>
        <br>
        <ul><li>prvá položka</li><li>druhá položka</li></ul>
        <a href="https://www.facebook.com/AkciaBazant">link</a>
    </body>
</html>
